*{
    font-family: serif;
}
body{
    height: 400vh;
    scroll-behavior: smooth;
}

/*Nav Start  */
.logoImg{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: white;
}
.nav-item a {
    color: black;
    transition: 0.5s;
}
.nav-item a:hover{
    background:  linear-gradient( 220deg, #3572EF ,#3ABEF9);
    color: white;
    transform: scale(0.9);
}
/* .userProfile{
    width: 300px !important

} */
.userProfileBtn{
    width: 50px;
    height: 50px;
    border-radius:30%;
    background-color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.userProfileBtn:hover{
    transform: scale(0.9);
    background:  linear-gradient( 220deg, #3572EF ,#3ABEF9);
}
.switchDark{
    cursor: pointer;
}
/* Nav End */

/* Header Start */
.header-container{
    height: 90vh;
}
.headerImage{
    height: 450px;
    object-fit: cover;
    width: 85%;
}
.headTitle{
    transition:all  0.4s ease-in-out;
    background:  linear-gradient( 220deg, #3572EF ,#3ABEF9);
    width: 200px;
}
.headTitle:hover{
    transform: scale(0.9);

}
/* Header End */

/* Service Start */
.serviceCard{
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.serviceCard:hover{
    transform: scale(1.1);
    box-shadow: 0 0 7px 0 gray;
}
/* Service End */

/* User Info start */
.infoImage{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background:  linear-gradient( 220deg, #3572EF ,#3ABEF9);
}
/* User Info End */

/* Login Start */
.loginIcon{
    font-size: 120px;
}
/* Login End */

/* Scroll up Start */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 25px; /* Place the button at the bottom of the page */
    right: 25px; /* Place the button 25px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 25px; /* Increase font size */
    transition: 0.5s;
}

#myBtn:hover {
    background:  linear-gradient( 220deg, #3572EF ,#3ABEF9); /* Add a dark-grey background on hover */
    transform: translate(0px, -20px);
}

/* Scroll Up End */
